# Python cache
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/


# Streamlit / secrets
.streamlit/secrets.toml
.streamlit/*.save
# Common creds formats
*.pem
*.key
*.p12
*.pfx
*.cer
*.crt
*.der
*.jks
*.env
.env*


# Local rules (optional if you want to keep them private)
Rules/*.json

# Logs and temp files
*.log
*.tmp
*.DS_Store

# IDE settings
.vscode/
.idea/

# OS files
Thumbs.db

# allow vendored US dictionary files
!dictionaries/en_US/en_US.aff
!dictionaries/en_US/en_US.dic
